body {
background: url("CEM.jpg") center top/cover no-repeat;
}
p {
  font-size: 1.25em;
}

a:link {color: #000000;
}

a:visited {color: #000000;
}
 
a:hover {color: red;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.grid .item {
  background-color: rgba(236, 240, 241,0.7); border-radius: 25px;
}

.grid .item2 {
  background-color: rgba(236, 240, 241,0.0);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.grid2 .item {
  max-width: 300px;
  background-color: rgba(236, 240, 241,0.7); text-align: center;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-gap:10px;
}

.grid3 .item {
  background-color: rgba(236, 240, 241,0.7); text-align: left; border-radius: 25px;
}

.button {
color: rgb(255, 255, 255); font-size: 18px; line-height: 18px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-align: center; text-transform: none; background-image: linear-gradient(to right, rgb(164, 164, 164) 0%, rgb(215, 215, 215) 65%, rgb(108, 108, 108) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(0, 0, 0); display: inline-block;}
.button:hover {
background: #A4A4A4; }
.button:active {
background: #6C6C6C; }
